<div>

    <section class="h-100" style="background-color: #eee;">
        <div class="container h-100 py-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3 class="fw-normal mb-0 text-black">Страница администрации</h3>
            </div>
            <HR>
            <div class="signin-image">
                <h4><a href="#!/users" style="color: green">Управление пользователями</a></h4>
            </div>
            <HR>
            <div>
                <form ng-submit="setRole()">
                    <h5>Добавить роль</h5>
                    <div class="form-group">
                        <label for="nickname">Nickname например NBekhter</label>
                        <input type="text" class="form-control" id="nickname" placeholder="Nickname" ng-model="user.nickname">
                    </div>
                    <div class="form-group">
                        <label for="inputRole">Новая роль например ROLE_ADMIN</label>
                        <input type="text" class="form-control" id="inputRole" placeholder="Новая роль" ng-model="user.role">
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить новую роль</button>
                </form>
            </div>
            <HR>
            <div>
                <form>
                    <h5>Удалить шкаф</h5>
                    <div class="form-group">
                        <label for="boxNumber">Номер шкафа например 111-11</label>
                        <input type="text" class="form-control" id="boxNumber" placeholder="Номер шкафа" ng-model="boxNumber">
                    </div>
                    <button type="submit" class="btn btn-danger" ng-click="deleteBoxByNumber(boxNumber)">Удалить</button>
                </form>
            </div>
            <HR>
        </div>
    </section>

</div>